@page
@model Employee.HowFind.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>جدول چگونه با ما آشنا شدید؟</h1>
<br />
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" asp-page="Create" asp-route-id="@Model.TblEmployeeRequestHowFind.FirstOrDefault().FldEmployeeRequestEmployeeId">ایجاد</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                عنوان
            </th>
            <th>
                توضیحات بیشتر
            </th>
            <th>
                نام و نام خانوادگی
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TblEmployeeRequestHowFind)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FldEmployeeRequestHowFindTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FldEmployeeRequestHowFindAdditionalDes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployee.TblEmployeeRequestPrimaryInformations.FirstOrDefault().FldEmployeeRequestPrimaryInformationFirstName) &nbsp;
                    @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployee.TblEmployeeRequestPrimaryInformations.FirstOrDefault().FldEmployeeRequestPrimaryInformationLastName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.FldEmployeeRequestHowFindId">ویرایش</a> |
                    <a asp-page="./Delete" asp-route-id="@item.FldEmployeeRequestHowFindId">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
