@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

      <h3>آیا از حذف این مورد مطمئن میباشید؟</h3>
<div>
    <h4>جدول اطلاعات اولیه کاربر</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           کد ملی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationNationalCode)
        </dd>
        <dt class="col-sm-2">
           شماره تماس
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationPhoneNo)
        </dd>
        <dt class="col-sm-2">
           نام
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationFirstName)
        </dd>
        <dt class="col-sm-2">
           نام خانوادگی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationLastName)
        </dd>
        <dt class="col-sm-2">
           تاریخ تولد
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationBirthDate)
        </dd>
        <dt class="col-sm-2">
           جنسیت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationGender)
        </dd>
        <dt class="col-sm-2">
           تعداد فرزندان
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationChildrenNo)
        </dd>
        <dt class="col-sm-2">
           تاهل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationMarital)
        </dd>
        <dt class="col-sm-2">
           افراد تحت تکفل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationTutelage)
        </dd>
        <dt class="col-sm-2">
           شماره پیگیری
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationTrackNo)
        </dd>
        <dt class="col-sm-2">
           کد پستی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationPostalCode)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblEmployeeRequestPrimaryInformation.FldEmployeeRequestPrimaryInformationId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="Index" asp-route-id="@Model.TblEmployeeRequestPrimaryInformation.FldEmployeeRequestEmployeeId">بازگشت به لیست</a>
    </form>
</div>
