@page
@model EmployeeRequest.SkillPage.OutlinePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>رئوس</h1>

<p>
    <a class="btn btn-success m-1" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>
                عنوان فارسی
            </th>
            <th>
                عنوان انگلیسی
            </th>
            <th>
                تاریخ شروع
            </th>
            <th>
                تاریخ پایان
            </th>
            <th>
                وضعیت
            </th>
            <th>
                توضیحات فارسی
            </th>
            <th>
                توضیحات انگلیسی
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Outline)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnglishTitle)
                </td>
                <td>
                    @item.StartDate.toPersianDate()
                </td>
                <td>
                    @item.EndDate.toPersianDate()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @if (item.Description != null && item.Description.Length > 50)
                    {
                        @(item.Description.Substring(0, 50)+ "...");
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Description)
                    }
                </td>
                <td>
                    @if (item.EnglishDescription != null && item.EnglishDescription.Length > 50)
                    {
                        @(item.EnglishDescription.Substring(0, 50)+"...");
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.EnglishDescription)
                    }
                </td>
                <td>
                    <a class="btn btn-warning text-white" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Botton {
    <a class="btn btn-danger rounded-circle" asp-page="../Index"><i class="fa fa-arrow-circle-left"></i></a>
}