@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

      <h3>آیا از حذف این مورد مطمئن میباشید؟</h3>
<div>
    <h4>جدول مهارت های کاربر</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           عنوان مهارت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillSkillTitle)
        </dd>
        <dt class="col-sm-2">
           توضیحات بیشتر
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillDescription)
        </dd>
        <dt class="col-sm-2">
           محل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillLocation)
        </dd>
        <dt class="col-sm-2">
           تاریخ
        </dt>
        <dd class="col-sm-10">
            @Model.TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillDate.toPersianDate()
        </dd>
        <dt class="col-sm-2">
           نوع مهارت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillSkillType)
        </dd>
        <dt class="col-sm-2">
           سطح مهارت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillSkillLevel)
        </dd>
        <dt class="col-sm-2">
           شماره گواهی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillLicenseNo)
        </dd>
        <dt class="col-sm-2">
           مرجع مدرک
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillLicenseReference)
        </dd>
        <dt class="col-sm-2">
           خودآموز
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillIsSelfTaught)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblEmployeeRequestUserSkill.FldEmployeeRequestUserSkillId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="Index" asp-route-id="@Model.TblEmployeeRequestUserSkill.FldEmployeeRequestEmployeeId">بازگشت به لیست</a>
    </form>
</div>
