@page
@model EmployeeRequest.SkillPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>مهارت ها</h1>

<p>
    <a class="btn btn-success" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>
                عنوان فارسی
            </th>
            <th>
                عنوان انگلیسی
            </th>
            <th>
                توضیحات فارسی
            </th>
            <th>
                توضیحات انگلیسی
            </th>
            <th>
                وضعیت
            </th>
            <th>
                تاریخ شروع
            </th>
            <th>
                تاریخ پایان
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TblEmployeeRequestSkill)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FldEmployeeRequestSkillsSkillTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FldEmployeeRequestSkillsSkillEnglishTitle)
                </td>
                <td>
                    @if (item.FldEmployeeRequestSkillsSkillDescription != null && item.FldEmployeeRequestSkillsSkillDescription.Length > 50)
                    {
                        @(item.FldEmployeeRequestSkillsSkillDescription.Substring(0, 50)+ "...");
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.FldEmployeeRequestSkillsSkillDescription)
                    }
                </td>
                <td>
                    @if (item.FldEmployeeRequestSkillsSkillEnglishDescription != null && item.FldEmployeeRequestSkillsSkillEnglishDescription.Length > 50)
                    {
                        @(item.FldEmployeeRequestSkillsSkillEnglishDescription.Substring(0, 50)+ "...");
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.FldEmployeeRequestSkillsSkillEnglishDescription)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FldEmployeeRequestSkillsSkillActive)
                </td>
                <td>
                    @item.FldEmployeeRequestSkillsSkillStartDate.toPersianDate()
                </td>
                <td>
                    @item.FldEmployeeRequestSkillsSkillEndDate.toPersianDate()
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="./VersionPage/Index" asp-route-id="@item.FldEmployeeRequestSkillsId">ورژن</a>
                    <a class="btn btn-danger m-1" asp-page="./SkillWebsiteTablePage/Index" asp-route-id="@item.FldEmployeeRequestSkillsId">وبگاه</a>
                </td>
                <td>
                    <a class="btn btn-warning text-white" asp-page="./Edit" asp-route-id="@item.FldEmployeeRequestSkillsId"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.FldEmployeeRequestSkillsId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Botton {
    <a class="btn btn-danger rounded-circle" asp-page="../../Panel/Index"><i class="fa fa-arrow-circle-left"></i></a>
}