@page
@model Employee.Suggestion.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>جدول مهارت های کاربر</h1>

<p>
    <a class="btn btn-primary" asp-page="Create" asp-route-id="@Model.Id">ایجاد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                پیشنهادات و انتقادات
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TblUserSuggestion)
        {
            <tr>
                <td>
                    <a class="btn btn-warning btn-group-sm text-white" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-group-sm" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suggestion)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Botton {
    <a class="btn btn-outline-dark rounded" asp-page="../../EmployAccept/Detail" asp-route-id="@Model.Id"><i class="fa fa-arrow-circle-left"></i></a>
}