@page
@model EmployeeRequest.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestIsAccept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestNeedMan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestNeedWoman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestIsTransfered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestTransferDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestAcceptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestInternalDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestPublishDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestEmployeeRequestJobDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestJobOnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestJobTamin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestUserAccepter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestUserApplicant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblEmployeeRequestEmployeeRequest[0].FldEmployeeRequestUserSubmitter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblEmployeeRequestEmployeeRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestIsAccept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestNeedMan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestNeedWoman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestIsTransfered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestTransferDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestAcceptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestInternalDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestPublishDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestJobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestJobOnet.FldJobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestJobTamin.FldTaminJobCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserAccepter.FldEmployeeRequestUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserApplicant.FldEmployeeRequestUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserSubmitter.FldEmployeeRequestUserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FldEmployeeRequestEmployeeRequestId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FldEmployeeRequestEmployeeRequestId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FldEmployeeRequestEmployeeRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
