@page
@model EmployeeRequest.IndexModel

@{
    ViewData["Title"] = "مشاهده وضعیت و سوابق درخواست نیرو";
}

<h4>مشاهده وضعیت و سوابق درخواست نیرو</h4>

<p>
    <a class="btn btn-outline-primary" asp-page="Create">ایجاد درخواست جدید</a>
</p>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                درخواست دهنده
            </th>
            <th>
                ثبت کننده
            </th>
            <th>
                شغل
            </th>
            <th>
                شغل تامین اجتماعی
            </th>
            <th>
                شغل اونت
            </th>
            <th>
                انتخاب عنوان شغل از 
            </th>
            <th>
                تاریخ شروع انتشار آگهی استخدام
            </th>
            <th>
                تاریخ پایان انتشار آگهی استخدام
            </th>
            <th>
                نیاز به مرد
            </th>
            <th>
                نیاز به زن
            </th>
            <th>
                توضیحات داخلی
            </th>
            <th>
                توضیحات انتشار
            </th>
            <th>
                توضیحات شغل
            </th>
            <th>
                وضعیت تایید
            </th>
            <th>
                تایید کننده
            </th>
            <th>
                تاریخ تایید
            </th>
            <th>
                وضعیت انتقال
            </th>
            <th>
                تاریخ انتقال
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TblEmployeeRequestEmployeeRequest)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserApplicant.FldEmployeeRequestUserUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserSubmitter.FldEmployeeRequestUserUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestJobs.JobsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestJobTamin.FldTaminJobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestJobOnet.FldJobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestJobTitleFrom.TblEmployeeRequestJobTitleFromTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestNeedMan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestNeedWoman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestInternalDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestPublishDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestJobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestIsAccept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserAccepter.FldEmployeeRequestUserUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestAcceptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestIsTransfered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployeeRequestTransferDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FldEmployeeRequestEmployeeRequestId">ویرایش</a> |
                <a asp-page="./Delete" asp-route-id="@item.FldEmployeeRequestEmployeeRequestId">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>