@page
@model Employee.Compile.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" asp-page="Create" asp-route-id="@Model.TblEmployeeRequestUserCompilation.FirstOrDefault().FldEmployeeRequestEmployeeId">ایجاد</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                عنوان تالیف
            </th>
            <th>
                توضیح تالیف
            </th>
            <th>
                تاریخ انتشار
            </th>
            <th>
                انتشارات
            </th>
            <th>
                توضیحات بیشتر
            </th>
            <th>
                نوع تالیف
            </th>
            <th>
                نام و نام خانوادگی
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TblEmployeeRequestUserCompilation)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserCompilationTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserCompilationExplanation)
            </td>
            <td>
                @item.FldEmployeeRequestUserCompilationDate.toPersianDate()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserCompilationAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestUserCompilationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestCompilationType.FldEmployeeRequestCompilationTypeCompilationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployee.TblEmployeeRequestPrimaryInformations.FirstOrDefault().FldEmployeeRequestPrimaryInformationFirstName) &nbsp;
                @Html.DisplayFor(modelItem => item.FldEmployeeRequestEmployee.TblEmployeeRequestPrimaryInformations.FirstOrDefault().FldEmployeeRequestPrimaryInformationLastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FldEmployeeRequestUserCompilationId">ویرایش</a> |
                <a asp-page="./Delete" asp-route-id="@item.FldEmployeeRequestUserCompilationId">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>
