@page
@model EmployeeRequest.SkillPage.SkillWebsiteTablePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

<h3>آیا از حذف این مورد مطمئن هستید؟</h3>
<div>
    <h4>وبگاه مهارت</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            وبگاه مهارت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillWebsiteTable.SkillWebsite)
        </dd>
        <dt class="col-sm-2">
            وبگاه آموزشی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillWebsiteTable.EducationalWebsite)
        </dd>
        <dt class="col-sm-2">
            وبگاه سوالات مرتبط
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillWebsiteTable.QuestionalWebsite)
        </dd>
        <dt class="col-sm-2">
            مهارت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillWebsiteTable.Skill.FldEmployeeRequestSkillsSkillTitle)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="SkillWebsiteTable.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a asp-page="./Index" asp-route-id="@Model.SkillWebsiteTable.SkillId">انصراف</a>
    </form>
</div>

@section Botton {
    <a class="btn btn-danger rounded-circle" asp-page="./Index" asp-route-id="@Model.SkillWebsiteTable.SkillId"><i class="fa fa-arrow-circle-left"></i></a>
}
