@page
@model EmployeeRequest.SkillPage.SkillWebsiteTablePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>وبگاه های مهارت</h1>

<p>
    <a class="btn btn-success" asp-page="Create" asp-route-id="@ViewData["id"]"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>
                وبگاه مهارت
            </th>
            <th>
                وبگاه آموزشی
            </th>
            <th>
                وبگاه سوالات مربوطه
            </th>
            <th>
                مهارت
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SkillWebsiteTable)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillWebsite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationalWebsite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionalWebsite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Skill.FldEmployeeRequestSkillsSkillTitle)
                </td>
                <td>
                    <a class="btn btn-warning text-white" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Botton {
    <a class="btn btn-danger rounded-circle" asp-page="../Index"><i class="fa fa-arrow-circle-left"></i></a>
}