@page
@model EmployeeRequest.SkillPage.WebsitePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>وبگاه ها</h1>

<p>
    <a class="btn btn-success" asp-page="Create" asp-route-definationId="@Model.DefinationId" asp-route-subDefId="@Model.SubDefinationId"><i class="fa fa-plus"></i></a>
    <a class="btn btn-primary m-1" target="_blank" asp-page="./WebsiteTypePage/Index">انواع وبگاه</a>
</p>
<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>
                زیر تعریف
            </th>
            <th>
                وبگاه <span id="openWeb"><i class="fa fa-box-open"></i></span>
            </th>
            <th>
                توضیحات <span id="openDes"><i class="fa fa-box-open"></i></span>
            </th>
            <th>
                تعریف
            </th>
            <th>
                نوع وبگاه
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TblWebsite)
        {
            <tr>
                <td>
                    @Model.SubDefinationText
                </td>
                <td>
                    @if (item.Website != null)
                    {
                        try
                        {
                            <div class="hostWeb"><a target="_blank" href="@item.Website">@Html.Raw(new Uri(item.Website).Host)</a></div>
                            <div class="completeWeb d-none"><a target="_blank" href="@item.Website">@Html.Raw(item.Website)</a></div>
                        }
                        catch (Exception)
                        {
                            <span>فرمت وبگاه اشتباه وارد شده</span>
                        }
                    }
                </td>
                <td>
                    @if (item.Description != null && item.Description.Length > 50)
                    {
                        try
                        {
                            <div class="hostDes text-break">@Html.Raw(item.Description.Substring(0, 50) + "...")</div>
                            <div class="completeDes d-none text-break">@Html.Raw(item.Description)</div>
                        }
                        catch (Exception)
                        {
                        }
                    }
                    else
                    {
                        <div class="text-break">@item.Description</div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Definition.Definition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebsiteType.Title)
                </td>
                <td>
                    <a class="btn btn-warning text-white" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Botton {
    <a class="btn btn-danger rounded-circle" asp-page="../../../Panel/Index"><i class="fa fa-arrow-circle-left"></i></a>
}