@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>جدول سوابق تحصیلی کاربر</h1>

<h3>آیا از حذف این مورد مطمئن میباشید؟</h3>
<div>
    <h4>جدول سوابق تحصیلی کاربر</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            رشته تحصیلی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.FldEducationName)
        </dd>
        <dt class="col-sm-2">
            تاریخ شروع
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.FldStartDate)
        </dd>
        <dt class="col-sm-2">
            تاریخ پایان
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.FldEndDate)
        </dd>
        <dt class="col-sm-2">
            شماره مدرک
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.FldExportNo)
        </dd>
        <dt class="col-sm-2">
            تاریخ اخذ مدرک
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.FldExportDate)
        </dd>
        <dt class="col-sm-2">
            نمره
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.FldPoint)
        </dd>
        <dt class="col-sm-2">
            توضیحات بیشتر
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.FldDes)
        </dd>
        <dt class="col-sm-2">
            محل تحصیل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.FldStudyPlace)
        </dd>
        <dt class="col-sm-2">
            شهر محل تحصیل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.FldStudyCity)
        </dd>
        <dt class="col-sm-2">
            مقطع تحصیلی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.Diploma.DiplomaName)
        </dd>
        <dt class="col-sm-2">
            رشته تحصیلی از جدول
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCustomerDegree.Education.EducationName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="TblCustomerDegree.FldCustomerDegreeId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="Index" asp-route-id="@Model.TblCustomerDegree.UserId">بازگشت به لیست</a>
    </form>
</div>
